name: todo
description: A new Flutter project.

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: '>=3.0.5 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.4
  sqflite: 2.2.8+4
  intl: 0.18.1
  bloc: ^8.1.2
  flutter_bloc: ^8.1.3
  dio: ^5.2.1+1
  shared_preferences: ^2.2.0
  conditional_builder_null_safety: ^0.0.6
  flutter_screenutil: ^5.8.4
  wakelock: ^0.6.2
  google_fonts: ^5.1.0
  flutter_svg: ^2.0.7


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter:


  uses-material-design: true
  assets:
    - assets/
    - assets/images/


